<h5 style="white-space: nowrap;">Create a new task for the week: 
    <span [style.color]="'rgb(13, 202, 240)'">
        <strong>{{ diary?.WEEK_BEGINNING!.slice(0, -9) }}</strong></span>?
</h5>
<form [formGroup]="taskForm">
    <label>Matter:</label>
    <input formControlName="MATTER" tooltipPosition="bottom" pInputText [tooltipZIndex]="'1000000'" class="form-control mb-2" type="text" pTooltip="Brief description of the matter (e.g Pharma Agreement or Commercial Lease etc). Do not use client names.">
    <label>Fee Earners:</label>
    <p-multiSelect [options]="feeEarners$" [(ngModel)]="selectedFeeEarners" formControlName="FEE_EARNERS"
    placeholder="Select Fee Earners" defaultLabel="Select trainees" optionLabel="FirstName"></p-multiSelect>
    <label class="mt-3">Task Description:</label>
    <textarea formControlName="TASK_DESCRIPTION" class="form-control" id="taskFormControlDescription" rows="3"></textarea>
    <br>
    <label>Skills:</label>
    <p-multiSelect [options]="skills$" [(ngModel)]="selectedSkills" formControlName="SKILLS" class="mb-2"
    placeholder="Select Skills" defaultLabel="Select trainees" optionLabel="skilL_NAME"></p-multiSelect>
</form>
<div style="position: relative;top:66px;left:7px;">
    <h6>Diary ID: <span class="text-info" [style]="diary?.DIARY_ID?.toString()! | fontSize : '20px'">{{ diary?.DIARY_ID }}</span></h6>
</div>